@using PurpleBuzz.Areas.Admin.ViewModels.ServiceComponent
@model ServiceComponentDetailsVM

<h1>Title</h1>
<p>@Model.Title</p>

<br />

<h1>Subtitle</h1>
<p>@Model.Subtitle</p>

<br />

<h1>Description</h1>
<p>@Model.Description</p>

