


@using PurpleBuzz.Areas.Admin.ViewModels.FeaturedWorkComponent
@model FeaturedWorkComponentCreateVM
    <!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Create Featured Work Component</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-body">

            <form enctype="multipart/form-data" asp-action="create" asp-controller="featuredworkcomponent" method="post">
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photos"></label>
                    <input type="file" multiple class="form-control" asp-for="Photos" />
                    <span asp-validation-for="Photos"></span>
                </div>
                <button class="btn btn-primary" type="submit">Create</button>
            </form>

        </div>
    </div>

</div>
<!-- /.container-fluid -->
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
    <script>ClassicEditor
            .create(document.querySelector('#Description'))
            .catch(error => {
                console.error(error);
            });</script>


}
